NUXT_PUBLIC_SUPABASE_URL=your_supabase_url
NUXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
NUXT_SUPABASE_SECRET_KEY=your_service_key
NUXT_STABILITY_API_KEY=your_stability_key
NUXT_REMOVE_BG_API_KEY=your_removebg_key
NUXT_TELEGRAM_BOT_TOKEN=your_bot_token